
.NavBarContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
  top: 0;
  right: 0;
  width: 60vw;
  height: 100vh;
  backdrop-filter: blur(30px);
  row-gap: 4rem;

  img {
    margin: 3rem 3rem 3rem 0;
    align-self: flex-end;
    width: 8%;
    height: 3%;
  }
}