@use "../../assets/styles/mixins" as mixin;

.background {
  height: 100vh;
  width: 100vw;
  background-image: url("../../assets/images/technology/background-technology-desktop.jpg");
  background-size: cover;
  background-position: center;

  @include mixin.sm {
    background-image: url("../../assets/images/technology/background-technology-tablet.jpg");
  }

  @include mixin.xs {
    background-image: url("../../assets/images/technology/background-technology-mobile.jpg");
  }
}

section {
  flex-direction: column;
  justify-content: center;
  //padding: 0 15rem 0 15rem;
  max-width: 100vw;
  height: 55vh;

  h5 {
    padding: 0 15rem;
    letter-spacing: 4.72px;

    span {
      opacity: .25;
    }
  }

  .container {
    justify-content: center;
    max-height: 100vw;

    .left {
      flex: 1 1 auto;
      padding: 0 15rem;
      align-items: center;

      .leftContainer {
        ul {
          display: flex;
          flex-direction: column;

          button {
            width: 80px;
            height: 80px;
            color: var(--black);
            background: var(--White);
            border-radius: 50%;
          }
        }
      }

      .rightContainer {
        .subTitle {
          font-family: var(--Subheading);
          font-size: 1.6rem;
          letter-spacing: 2.7px;
          color: var(--Cian);
        }

        h3 {
          text-transform: uppercase;
        }

        .description {
          color: var(--Cian);
          line-height: 32px;
          max-width: 44.3rem;
        }
      }
    }

    .right {
      display: flex;
      flex: 1 1 auto;
      justify-content: flex-end;
      width: auto;

      img {
        max-width: 515px;
        max-height: 527px;
      }
    }
  }
}