@use "../../assets/styles/mixins" as mixin;

.background {
  height: 100vh;
  width: 100vw;
  background-image: url("../../assets/images/crew/background-crew-desktop.jpg");
  background-size: cover;
  background-position: center;

  @include mixin.sm {
    background-image: url("../../assets/images/crew/background-crew-tablet.jpg");
  }

  @include mixin.xs {
    background-image: url("../../assets/images/crew/background-crew-mobile.jpg");
  }
}

.container {
  padding: 0 9rem 0 14rem;
  height: auto;

  .left {
    display: flex;
    flex: 1;
    flex-direction: column;

    h5 {
      letter-spacing: 4.72px;

      span {
        opacity: .25;
      }
    }


    .leftContainer {
      flex-direction: column;
      justify-content: center;
      flex: 1;


      h4 {
        opacity: .5;
        text-transform: uppercase;
      }

      h3 {
        text-transform: uppercase;
      }

      p {
        color: var(--Cian);
        line-height: 32px;
        max-width: 45rem;
      }
    }

  }

  .right {
    flex: 1;
    height: calc(100vh - 277px);

    img {
      //width: 568px;
      //height: 712px;
    }
  }
}