.p-5 {
  padding: 0.5rem;
}

.p-10 {
  padding: 1rem;
}

.p-20 {
  padding: 2rem;
}

.p-30 {
  padding: 3rem;
}

.ptb-8 {
  padding: 8rem 0;
}

.m-5 {
  margin: 0.5rem;
}

.mr-5 {
  margin-right: 0.5rem;
}

.mr-30 {
  margin-right: 3rem;
}

.mr-40 {
  margin-right: 4rem;
}

.mr-80 {
  margin-right: 8rem;
}

.m-10 {
  margin: 1rem;
}

.mr-15 {
  margin-right: 1.5rem;
}

.m-20 {
  margin: 2rem;
}

.mb-10 {
  margin-bottom: 1rem;
}

.mb-20 {
  margin-bottom: 2rem;
}

.mb-30 {
  margin-bottom: 3rem;
}

.mb-40 {
  margin-bottom: 4rem;
}

.mb-50 {
  margin-bottom: 5rem;
}

.mb-100 {
  margin-bottom: 10rem;
}

.mt-10 {
  margin-top: 1rem;
}

.my-30 {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.container {
  max-width: 120rem;
  margin: auto;
  width: 100%;
}

.my-30 {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.container {
  max-width: 120rem;
  margin: auto;
  width: 100%;
}

.calc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
