@use "../../assets/styles/mixins" as mixin;

.background {
  height: 100vh;
  width: 100vw;
  background-image: url("../../assets/images/home/background-home-desktop.jpg");
  background-size: cover;
  background-position: center;

  @include mixin.sm {
    background-image: url("../../assets/images/home/background-home-tablet.jpg");
  }

  @include mixin.xs {
    background-image: url("../../assets/images/home/background-home-mobile.jpg");
  }
}